* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #000;
  color: white;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.logo {
  width: 64px;
  height: auto;
  margin-left: 24px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.nav ul li:first-child {
  margin-left: 0;
}

.nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.nav ul li a:hover {
  color: red;
}

.padding-footer {
  padding: 16px 10%;
}

footer {
  background-color: #f03e3e;
  height: 250px;
}

.footer-left {
  text-align: center;
}

.footer-left img {
  margin-top: 6px;
  height: 80px;
}

.footer__nav {
  margin-left: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #e9ecef;
  text-decoration: none;
}

.footer__item img {
  height: 32px;
}

footer .copyright {
  padding: 18px 10%;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #e9ecef;
}

.footer-right img {
  height: 32px;
}

.github-links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  list-style: none;
}
